<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>XYZ News</title>
        <base href="/xyz"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" type="image/x-icon" href="favicon.ico"/>
        <link rel="manifest" href="manifest.webmanifest"/>
        <meta name="theme-color" content="#1976d2"/>
    <link rel="stylesheet" href="project-xyz.77c12274cde716c429a3.css"><link rel="stylesheet" href="theme-xyz.19c8ef3ab84c05c09d6e.css"></head>
    <body>
        <xyz-root></xyz-root>
        <noscript>Please enable JavaScript to continue using this application.</noscript>
    <script src="runtime.88b4e5869db0182dc6d3.js" defer></script><script src="polyfills.3f932fdd45b31cb9cb3e.js" defer></script><script src="main.4b964eac3a0c2e28bae5.js" defer></script></body>
</html>
